{% extends "base.html" %}

{% block title %} Lista de Instructores{% endblock%}

{% block content%}

{% if lista_instructores %}

<div>

<ul>
  {% for x in lista_instructores %}

<br>

<div class="row">
  <div class="col-sm-6 mb-3 mb-sm-0">
    <div class="card">
      <div class="card-body">
        
        <h5 class="card-title"><i class="bi bi-person-circle" >{{ x.nombre }}</i></h5>
        <p class="card-text">{{ x.ficha}}.</p>
        <a href= "{% url 'instructores:detalle_instructor' x.id %}" class="btn btn-primary">Ver detalle</a>
        <a href="{% url 'admin:instructores_instructor_change' x.id %}" class="btn btn-primary">Editar</a>
      </div>
    </div>
  </div>
  
</div>

{% endfor%}

{% else %}

<div class="card" style=" width: 15rem; 
            display: flex;
            grid-template-columns: repeat(auto-fit, minmax(280px, 1fr));
            gap: 10px;
            max-width: 900px;
            margin: 0 auto;
            width: 100%;
            padding: 20px 15px;
            background: white;
            border-radius: 8px;

            box-shadow: 0 4px 8px rgba(0,0,0,0.1);
            transition: transform 0.3s ease, box-shadow 0.3s ease;
            border: 1px solid #e0e0e0;">
    <br>
  <h5 class="card-header" style="font-size: 30px">No se encontraron Instructores</h5>
  <div class="card-body">
    <p class="card-text">Para poder visualizar los Instructores, por favor registre un instructor.</p>
    <a href="{% url 'admin:instructores_instructor_add' %}" class="btn btn-primary">Añadir</a>
  </div>
</div>

{% endif%}

</ul>
{% endblock%}