{% extends 'base.html' %}


{% block content %}

<div class="card" style="width: 120rem;  
            display: flex;
            grid-template-columns: repeat(auto-fit, minmax(280px, 1fr));
            gap: 10px;
            max-width: 1200px;
            margin: 0 auto;
            width: 100%;
            padding: 20px 15px;
            background: white;
            border-radius: 8px;

            box-shadow: 0 4px 8px rgba(0,0,0,0.1);
            transition: transform 0.3s ease, box-shadow 0.3s ease;
            border: 1px solid #e0e0e0;">

  <img src="https://dical.es/modules/ph_simpleblog/featured/18.jpg" class="card-img-top" alt="libros" width="300px" height="200px">
  <div class="card-body">
    <h3 class="card-title">{{ aprendiz.nombre_completo}}</h3>

    <br>
  
    <ul class="list-group list-group-flush">
        <li >Documento identidad: {{ aprendiz.documento_identidad}}</li>
        <br>
        <li >Nombre: {{ aprendiz.nombre}}</li>
        <br>
        <li >Apellido: {{ aprendiz.apellido}}</li>
        <br>
        <li >Fecha Nacimiento: {{ aprendiz.fecha_nacimiento|date:"d/m/Y" }}</li>
        <br>
        
    </ul>
    
    <div class="row">
  <div class="col-sm-6 mb-3 mb-sm-0">
    <div class="card">
      <div class="card-body">
        <h4 class="card-title">Información de Contacto</h4>
        <hr>
        <ul>
            <li>Correo:<a href="mailto:{{ aprendiz.correo }}">{{ aprendiz.correo }}</a></li>
            <br>
            <li>Telefono:{{ aprendiz.telefono}}</li>
            <br>
            <li>Ciudad:{{ aprendiz.ciudad}}</li>
        </ul>   
      </div>
    </div>
  </div>

</div>
<br>
  </div>
</div>



{% endblock %}