{% extends "base.html" %}

{% block title %}  Lista de Aprendices {% endblock %}

{% block content%}

{% if lista_aprendices %}
<div>
<ul>
  {% for x in lista_aprendices %}
  <br>

  <div class="row row-cols-1 row-cols-md-2 g-4">

  <div class="col" style="padding: 20px;">
    <div class="card">
      <div class="card-body">
        <li>{{ x.nombre }} {{ x.apellido }}  <br> {{ x.programa}}</li>
        <a href= "{% url 'aprendices:detalle_aprendiz' x.pk %}" class="btn btn-primary">Ver detalle</a>
      </div>
    </div>
  </div>

</div>
<br>

  {% endfor %}
</ul>
<br>

</div>

{% else %}

<div class="card" style=" width: 15rem; 
            display: flex;
            grid-template-columns: repeat(auto-fit, minmax(280px, 1fr));
            gap: 10px;
            max-width: 900px;
            margin: 0 auto;
            width: 100%;
            padding: 20px 15px;
            background: white;
            border-radius: 8px;

            box-shadow: 0 4px 8px rgba(0,0,0,0.1);
            transition: transform 0.3s ease, box-shadow 0.3s ease;
            border: 1px solid #e0e0e0;">
    <br>
  <h5 class="card-header" style="font-size: 30px">No se encontraron Aprendices</h5>
  <div class="card-body">
    <p class="card-text">Para poder visualizar los Aprendices, por favor registre un aprendiz.</p>
    <a href="{% url 'admin:aprendices_aprendiz_add' %}" class="btn btn-primary">Añadir</a>
  </div>
</div>

{% endif%}

{% endblock %}
